@tailwind base;
@tailwind components;
@tailwind utilities;

/* For most modern browsers */
::selection {
  background-color: #00ff00;
  color: black; /* Optional: for better contrast with the dark green */
}

/* For Firefox */
::-moz-selection {
  background-color: #00ff00;
  color: black;
}
